// Color
// cheryBlue           = #54d5e4



// Size
baseFontSize        = 16px
desktopWidth        = 1330px
paddingLeftRight    = 15px

// Fonts
// mainFont            = 'MontserratRegular', Arial, Helvetica, sans-serif
